/* 用来美化首页 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}

body {
  background-color: #f3f5f7;
}

/* 版心 */
.wrapper {
  width: 1200px;
  margin: 0 auto;
}

/* 头部 */
.header {
  height: 42px;
  /* background-color: pink; */
  /* margin: 30px auto; */
  margin-top: 30px;
  margin-bottom: 30px;
}

h1 {
  float: left;
}

.nav {
  float: left;
  margin-left: 70px;
  height: 42px;
}

.nav li {
  float: left;
  margin-right: 26px;
}

.nav li a {
  display: block;
  padding: 0 9px;

  height: 42px;
  line-height: 42px;
  font-size: 18px;
  color: #050505;
}

.nav li a:hover {
  border-bottom: 2px solid #00a4ff;
}
.search {
  float: left;
  border: 1px solid #00a4ff;
  margin-left: 59px;
  width: 412px;
  height: 42px;
}
.search input {
  float: left;
  padding-left: 20px;
  width: 360px;
  height: 40px;
  border: 0;
}
.search input:on .search input::placeholder {
  font-size: 14px;
  color: #bfbfbf;
}
.search button {
  float: left;
  width: 50px;
  /* background-color: gold; */
  height: 40px;
  background-image: url("../images/btn.png");
  border: 0;
}
.user {
  float: right;
  margin-right: 35px;
  height: 42px;
  line-height: 42px;
}
.user img {
  /* 调节图片垂直对齐方式 */
  vertical-align: middle;
}

.banner {
  height: 420px;
  background-color: #1c036c;
}
.banner .wrapper {
  height: 420px;
  /* margin: 0; */
  background-image: url(../images/banner2.png);
}
.banner .left {
  float: left;
  padding: 0 20px;
  width: 190px;
  height: 420px;
  background-color: rgba(0, 0, 0, 0.3);
  line-height: 44px;
}
/* .banner .left li {
  margin: 28px 0;
} */
.banner .left span {
  float: right;
}
.banner .left a {
  font-size: 14px;
  color: #fff;
}
.banner .left a:hover {
  color: #00b4ff;
}

.banner .right {
  float: right;
  margin-top: 50px;
  width: 228px;
  height: 300px;
  background-color: #fff;
}
.banner .right h2 {
  height: 48px;
  background-color: #9bceea;
  text-align: center;
  line-height: 48px;
  font-size: 18px;
  color: #fff;
}
.banner .right .content {
  padding: 0 18px;
}
.banner .right dl {
  padding: 12px 0;
  border-bottom: 2px solid #e5e5e5;
}
.banner .right dt {
  color: #4e4e4e;
}
.banner .right dd {
  font-size: 14px;
  color: #a5a5a5;
}
.banner .right .all {
  display: block;
  width: 200px;
  height: 40px;
  margin: 5px auto 0;
  border: 1px solid #00a4ff;
  background-color: #fff;
  font-weight: bold;
  text-align: center;
  line-height: 40px;
  color: #00a4ff;
}

.goods {
  margin-top: 8px;
  padding: 0 30px;
  height: 60px;
  background-color: #fff;
  box-shadow: 0 2px 3px 0 rgba(118, 118, 118, 0.2);
  line-height: 60px;
}
.goods h2 {
  float: left;
  font-size: 16px;
  color: #00a4ff;
  font-weight: normal;
}
.goods ul {
  float: left;
  margin-left: 30px;
}
.goods ul li {
  float: left;
}
.goods ul a {
  padding: 0 30px;
  border-left: 1px solid #bfbfbf;
  font-size: 16px;
  color: #050505;
}
.goods .modify {
  float: right;
}
.box {
  margin-top: 35px;
}
.box .title {
  height: 40px;
  background-color: pink;
}
.box .title h2 {
  float: left;
}
.box .title a {
  float: right;
}
